/*
  darkgrey: rgb(30, 30, 30);
  lightgrey: rgb(70, 70, 70);
  lightblue: rgb(50, 170, 220);
*/

* {
  font-family: 'Share Tech Mono', monospace;
}

body {
  background-color: aqua;
}

#player {
  display: inline-block;
  background-color: rgb(30, 30, 30);
  width: 60%;
  height: auto;
  border-radius: 5px;
  margin-left: 20%;
  margin-top: 3%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

button {
  padding: 0;
  
}

img {
  background-color: rgb(70, 70, 70);
  width: 35px;
  height: 35px;
  border-radius: 5px;

}

img:hover {
  background-color: aqua;
}

:focus {
  outline: 0;
  
}

img, #pbar-container, #sbar-container {
  cursor: pointer;
}


/*Container*/

#video-container {
   position: relative;
  border-radius: 5px;
 }

video {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}


  
/*#screen {
  height: 100%;
  width: 100%;
  line-height: 100%;
  text-align: center;
  position: absolute;
}*/

#screen-button {
  vertical-align: middle;
}

#pbar-container {
  background-color: rgb(70, 70, 70);
}

#pbar {
  height: 5px;
  width: 0%;
  background-color: aqua;
}



#buttons-container {
  height: 50px;
  padding: 0;
  margin-top: 4px;
}

#buttons-container > * {
  display: inline-block;
  vertical-align: middle;
  margin: 5px 10px;
  
}


#time-field {
  color: rgb(100, 100, 100 );
  cursor: default;
}
#sound-button {
  margin-right: 4px;
}

#sbar-container {
  margin-left: 0;
  width: 100px;
  height: 5px;
  background-color: rgb(70, 70, 70);
}


#sbar {
  height: 100%;
  width: 100%;
  background-color: aqua;
}

#full-screen {
  float: right;
}
